.container {
    position:absolute;
    height: 100%;
    width: 100%;
    top: 7%;
    display: grid;
    box-sizing: border-box;
    padding: 0%;
    margin:0%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    row-gap: 0;
  }

  .post {
    margin-left: 2vw;
    overflow-y: scroll; 
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
  }

  .comments {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    border-left: 1px solid black;    
    overflow-y: scroll; 
  }

  .body {
    overflow-y: auto;
  }